#topbar {
    background-color: rgb(17, 32, 95);
    top: 0;
    left: 0;
    width: 1866px;
    height: 60px;
}

.topbarbutton {
    background-color: rgb(17, 32, 95);
    left: 0;
    height: 60px;
    top:0;
    border-style: none;
    vertical-align: top;
    margin-top: auto;
    font-size: large;
}

.topbarbutton:hover{
    transition: 10ms;
    background-color: rgb(95, 17, 27);

}

.account-button {
    outline-color:grey;
    background-color: rgb(8, 70, 87);
    color: rgb(8, 70, 87);
}

#body {
    background-color: rgb(8, 70, 87);
}
